body {
    background: #f5eada;
}
.user {
    border: 2px solid grey;
    width: 250px;
    height: 500px;
    overflow: scroll;
    padding: 10px;
    background: rgba(194, 238, 199, 0.69);
}

.users {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 10px;
}

.userAddress {
    margin-left: 20px;
}

.userAddressGeo {
    margin-left: 40px;
}

.post {
    border: 2px solid grey;
    width: 200px;
    padding: 8px;
    background: #ecaa92;
}

.posts {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
}

.comment {
    width: 200px;
    border: 2px solid grey;
    background: #ecaee9;
}

.comments {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 10px;
}