.mainLayout {
    min-height: 50px;
    background: darkblue;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.mainLayout a {
    text-decoration: none;
    color: #efefef;
}

.mainLayout a[class='active'] {
    color: aqua;
}

.mainLayoutNav {
    display: flex;
    justify-content: center;
    margin-bottom: 3px;
}